<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a href="{{ path('homepage') }}"
               class="nav-item is-tab {{ 'homepage' | active('is-active') }}">
                MyKeep
            </a>
        </div>
        <div class="nav-center">
            <span class="nav-item">
                {% if app.request.attributes.get('_route') == 'homepage' %}
                    <a href="#test-popup" class="button is-primary open-popup-link">
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span>{{ 'note.add_new' | trans }}</span>
                    </a>
                {% endif %}
            </span>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('note_trash') }}"
                   class="nav-item is-tab {{ 'note_trash' | active('is-active') }}">
                    {{ 'trash' | trans }}
                </a>
                <a class="nav-item is-tab">
                    {{ app.user.username }}
                </a>
                <a href="{{ path('fos_user_security_logout') }}"
                   class="nav-item is-tab">
                    {{ 'logout' | trans }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}"
                   class="nav-item is-tab {{ 'fos_user_registration_register' | active('is-active') }}">
                    {{ 'registration' | trans }}
                </a>
                <a href="{{ path('fos_user_security_login') }}"
                   class="nav-item is-tab {{ 'fos_user_security_login' | active('is-active') }}">
                    {{ 'login' | trans }}
                </a>
            {% endif %}
        </div>
    </div>
</nav>