{% extends ':note:layout.html.twig' %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
            {{ form_start(edit_form) }}

            {{ form_label(edit_form.title, '', {'label_attr': {'class': 'label'}}) }}
            <p class="control">
                {{ form_widget(edit_form.title, {'attr': {'class': 'input'}}) }}
            </p>

            {{ form_label(edit_form.content, '', {'label_attr': {'class': 'label'}}) }}
            <p class="control">
                {{ form_widget(edit_form.content, {'attr': {'class': 'textarea'}}) }}
            </p>

            <div class="control is-grouped">
                <p class="control">
                    <input class="button is-primary" type="submit" value="Save" />
                </p>
                <p class="control">
                    <a href="{{ path('note_index') }}" class="button is-link">
                        Cancel
                    </a>
                </p>
            </div>
            {{ form_end(edit_form) }}

            <div class="control is-pulled-right" style="margin-top: -3.25em;">
                {{ form_start(delete_form) }}
                <input class="button is-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment in ['dev', 'test'] %}
        <script src="{{ asset('assets/vendor/autosize/dist/autosize.js') }}"></script>
    {% else %}
        <script src="{{ asset('assets/vendor/autosize/dist/autosize.min.js') }}"></script>
    {% endif %}
    <script>
        (function(document){
            autosize(document.querySelectorAll('textarea'));
        })(document);
    </script>
{% endblock %}