{% extends ':note:layout.html.twig' %}

{% block content %}
    <div class="tags">

    </div>

    <div class="columns is-multiline">

    </div>

    <div id="test-popup" class="white-popup mfp-hide">

        <nav class="nav nav-header-content" id="nav-header-content">
            <div class="nav-center">
                <span class="nav-item">
                    <div class="note-color-block">
                        {% for color in colors %}
                            {% set colorStyle = 'background-color: #' ~ color.hex %}
                            <a href="javascript:" class="note-color" style="{{ colorStyle }}"
                               title="{{ color.title }}"
                               data-color-id="{{ color.id }}"
                               data-color="{{ color.hex }}"></a>
                        {% endfor %}
                        <div style="clear: both"></div>
                    </div>
                </span>
            </div>
        </nav>

        <div class="white-popup-content">
        {#<form name="app_note" method="post">#}
            <p class="control is-5">
                <textarea id="app_note_title"
                          name="app_note[title]" class="textarea"
                          placeholder="{{ 'note.note_title' | trans }}"
                          rows="1"></textarea>
            </p>
            <p class="control">
                <textarea id="app_note_content" name="app_note[content]"
                          required="required" class="textarea"
                          placeholder="{{ 'note.note_content' | trans }}"></textarea>
            </p>
            <input type="hidden" id="app_note_id" name="app_note[id]" value="">
            <input type="hidden" id="app_note_color" name="app_note[colorId]" value="">
        {#</form>#}
        </div>

        <nav class="nav nav-footer-content" id="nav-footer-content">
            <div class="nav-left">
                <span class="nav-item">
                    <a class="button is-danger delete-note">
                        <span class="icon">
                            <i class="fa fa-trash-o"></i>
                        </span>
                        <span>{{ 'delete' | trans }}</span>
                    </a>
                </span>
            </div>
            <div class="nav-center">
                <span class="nav-item">
                    <span class="button is-white save-state">
                        <span class="icon">
                            <i class="fa fa-spinner saving"></i>
                            <i class="fa fa-check saved"></i>
                        </span>
                        {#<span class="saving">Saving</span>#}
                        {#<span class="saved">Saved</span>#}
                    </span>
                </span>
            </div>
            <div class="nav-right">
                <span class="nav-item">
                    <a class="button close-popup">
                        <span class="icon">
                            <i class="fa fa-times-circle"></i>
                        </span>
                        <span>{{ 'close' | trans }}</span>
                    </a>
                </span>
            </div>
        </nav>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var timeout = null;

        var tag = '{{ tag }}';

        $(function() {
            var contentTextArea = $('.textarea');
            autosize(contentTextArea);

            $('.columns').masonry();

            initMagnific();

            loadTags();

            $.ajax({
                type: 'GET',
                url: Routing.generate('note_list', {tag: tag}),
                success: function (response) {
                    for (var index in response['notes']) {
                        var note = response['notes'][index];
                        var item = $(note['html']);
                        $('.columns')
                            .append(item)
                            .masonry('appended', item);
                    }
                },
                error: function (response) {
                    if (typeof response != 'undefined') {
                        alert(response['message']);
                    }
                },
                complete: function() {
                    $('.columns').masonry();
                    initMagnific();
                }
            });

            $('.columns').on('click', '.open-popup-link', function() {
                initModal($(this), contentTextArea);
            });

            $('.nav-item').on('click', '.open-popup-link', function() {
                initModal($(this), contentTextArea);
            });

            $('.delete-note').on('click', function() {
                var id = $('#app_note_id').val();
                if (id) {
                    if (confirm('Do you really want to delete note?')) {
                        $.ajax({
                            type: 'POST',
                            url: Routing.generate('note_delete'),
                            data: {id: id},
                            success: function () {
                                $.magnificPopup.close();
                                var note = $('#note-' + id);
                                $('.columns').masonry('remove', note);
                                loadTags();
                            },
                            error: function (response) {
                                if (typeof response != 'undefined') {
                                    alert(response['message']);
                                }
                            },
                            complete: function () {
                                $('.columns').masonry();
                            }
                        });
                    }
                }
            });

            $('.close-popup').on('click', function() {
                $.magnificPopup.close();
            });

            $('#app_note_title').on('input', function() {
                saveNote();
            });

            $('#app_note_content').on('input', function() {
                saveNote();
            });

            $('.note-color').on('click', function() {
                var id = $('#app_note_id').val();
                var colorId = $(this).data('color-id');
                var color = $(this).data('color');
                $('#test-popup').css('background-color', '#' + color);
                $('.white-popup-content').css('background-color', '#' + color);
                $('#app_note_title').css('background-color', '#' + color);
                $('#app_note_content').css('background-color', '#' + color);

                if (id) {
                    $.ajax({
                        type: 'POST',
                        url: Routing.generate('note_set_color'),
                        data: {id: id, colorId: colorId},
                        success: function () {
                            $('#note-' + id + ' .card-content').css('background-color', '#' + color);
                            $('#note-' + id).data('color', color);
                        },
                        error: function (response) {
                            if (typeof response != 'undefined') {
                                alert(response['message']);
                            }
                        }
                    });
                } else {
                    $('#app_note_color').val(colorId);
                }
            });
        });

        var initModal = function(element, contentTextArea) {
            var id = element.data('id');
            var title = element.data('title');
            var content = element.data('content');
            var color = element.data('color');

            $('#app_note_id').val(id);
            $('#app_note_title').val(title);
            $('#app_note_content').val(content);

            autosize.update(contentTextArea);

            $('#test-popup').css('background-color', '#' + color);
            $('.white-popup-content').css('background-color', '#' + color);
            $('#app_note_title').css('background-color', '#' + color);
            $('#app_note_content').css('background-color', '#' + color);
        };

        var initMagnific = function() {
            $('.open-popup-link').magnificPopup({
                type: 'inline',
                callbacks: {
                    close: function() {
                        if (typeof timeout != 'undefined' && timeout !== null) {
                            clearTimeout(timeout);
                            sendRequest();
                        }
                        $('#app_note_id').val('');
                        $('#app_note_title').val('');
                        $('#app_note_content').val('');
                        $('.columns').masonry();

                        $('#test-popup').css('background-color', '#ffffff');
                        $('.white-popup-content').css('background-color', '#ffffff');
                        $('#app_note_title').css('background-color', '#ffffff');
                        $('#app_note_content').css('background-color', '#ffffff');
                    }
                }
            });
        };

        var saveNote = function() {
            if (typeof timeout != 'undefined' && timeout !== null) {
                clearTimeout(timeout);
            }
            $('.saving').css('display', 'inline-block');
            $('.saved').hide();
            timeout = setTimeout(sendRequest, 1000);
        };

        var sendRequest = function() {
            var id = $('#app_note_id').val();
            var title = $('#app_note_title').val();
            var content = $('#app_note_content').val();
            var color = $('#app_note_color').val();
            if (title || content) {
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('note_save'),
                    data: {id: id, title: title, content: content, colorId: color},
                    success: function (response) {
                        if (id) {
                            var noteTitle = response['note']['title'];
                            var noteContent = response['note']['content'];
                            var noteContentBr = response['note']['content_br'];
                            $('#note-' + id).data('title', noteTitle);
                            $('#note-' + id).data('content', noteContent);
                            $('#note-title-' + id).text(noteTitle);
                            $('#note-content-' + id).html(noteContentBr);
                            if (noteTitle) {
                                $('#note-title-' + id).show();
                            } else {
                                $('#note-title-' + id).hide();
                            }
                            loadTags();
                        } else {
                            var noteId = response['note']['id'];
                            $('#app_note_id').val(noteId);
                            var items = $(response['note']['html']);
                            $('.columns')
                                .append(items)
                                .masonry('appended', items);
                            initMagnific();
                        }
                    },
                    error: function (response) {
                        if (typeof response != 'undefined') {
                            alert(response['message']);
                        }
                    },
                    complete: function () {
                        $('.saving').hide();
                        $('.saved').show();
                        $('.columns').masonry();
                    }
                });
            } else {
                $('.saving').hide();
                $('.saved').show();
            }
        };

        var loadTags = function () {
            var all = Translator.trans('all');
            var url = Routing.generate('note_index');
            $('.tags').html('<a href="' + url + '" class="tag-item">' + all + '</a>');
            $.ajax({
                type: 'GET',
                url: Routing.generate('tag_list'),
                success: function (response) {
                    for (var index in response['tags']) {
                        var tag = response['tags'][index];
                        var item = $(tag['html']);
                        $('.tags').append(item);
                    }
                },
                error: function (response) {
                    if (typeof response != 'undefined') {
                        alert(response['message']);
                    }
                }
            });
        }
    </script>
{% endblock %}
