{% extends ':note:layout.html.twig' %}

{% block content %}
    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
            {{ form_start(form) }}

            <p class="control">
                {{ form_widget(form.title) }}
            </p>

            <p class="control">
                {{ form_widget(form.content) }}
            </p>

            <div class="control is-grouped">
                <p class="control">
                    <input class="button is-primary" type="submit" value="Create" />
                </p>
                <p class="control">
                    <a href="{{ path('note_index') }}" class="button is-link">
                        Cancel
                    </a>
                </p>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
